# virtural machine directory
.venv/
# personal secret data
secrets.py
# python cache
__pycache__
# jupyter notebook
.ipynb_checkpoints
*.ipynb
# database
db.json
# tests
test_db.json
test_jobs.tab
# others
.DS_Store
.vscode/
